/* --------- Scroll Top Top Button ----------- */
.scrollTop_button {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.scrollTop_button button {
  width: 50px;
  height: 50px;
  border-radius: 200px;
  outline: none;
  border: none;
  background-color: rgb(133, 133, 133);
}

.scrollTop_button button i {
  color: white;
}

/* --------- Header ----------- */

.mainContainer {
  padding: 0px 50px !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(164, 164, 164);
  padding: 14px 0px;
}

.header_left {
  font-size: 13px;
}

.header_right_conatiner {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0px;
}

.header_right_conatiner li {
  text-decoration: none;
  padding-right: 8px;
  padding-left: 8px;
}

.header_right_conatiner li a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  text-transform: capitalize;
  padding-bottom: 4px;
}

.header_right_conatiner li a:hover {
  border-bottom: 2px solid black;
}

.vertical-line {
  display: inline-block;
  border-left: 1px solid #ccc;
  margin: 0 10px;
  height: 15px;
}

/* --------- Header with Logo ----------- */

.headerWithLogo {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.search_input {
  position: relative;
  margin-right: 20px;
}

.search_input input {
  padding: 10px 40px;
  border-radius: 100px;
  border: none;
  outline: none;
  background-color: rgb(238, 238, 238);
  width: 400px;
}

.search_input .search_icon {
  position: absolute;
  top: 5px;
  left: 14px;
  font-size: 20px;
}

.searchAndBag {
  display: flex;
  align-items: center;
}

/* --------- Menu ----------- */

.menu {
  border-bottom: 1px solid #a4a4a4;
}

.menu ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  /* font-size: 16px; */
  cursor: pointer;
}

.menu ul li {
  cursor: pointer;
  font-size: 14px;
}

.menu ul li:hover {
  border-bottom: 2px solid black;
}

/* --------- Sub Menu ----------- */

.sub_menu {
  display: none;
  position: fixed;
  width: 95%;
  background-color: white;
  z-index: 10;
  animation: hideMe 1s;
}

@keyframes hideMe {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.sub_menu ul {
  list-style-type: none;
  padding: 0px;
}

.sub_menu ul li {
  font-size: 13px;
  margin-top: 14px;
  color: rgb(92, 92, 92);
  text-transform: capitalize;
  cursor: pointer;
}

.sub_menu ul li:hover {
  text-decoration: underline;
}

.submenu_sale {
  padding-top: 20%;
}

.submenu_sale li {
  color: red !important;
}

/* --------- Body ----------- */

.body_head {
  display: flex;
  justify-content: space-between;
}

.card_div {
  padding-top: 30px;
}

/* --------- Card ----------- */

.card_img {
  width: 100%;
  height: 455px;
  object-fit: cover;
  /* background-color: red; */
  background-image: url(../assets/images/img1.jpeg);
}

.card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.multiple_img {
  margin-top: 20px;
  display: flex;
}

.multiple_img1 {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  /* background-color: red; */
  margin-left: 10px;
  cursor: pointer;
}

.multiple_img1 img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.titleAndDescription {
  margin-top: 20px;
}

.titleAndDescription p {
  margin: 0px;
}

.titleAndDescription p:nth-child(1) {
  font-size: 14px;
  font-weight: bold;
}

.titleAndDescription p:nth-child(2) {
  font-size: 14px;
}

.titleAndDescription p:nth-child(3) {
  font-size: 14px;
  margin-top: 10px;
  color: #e01a2b;
}

.titleAndDescription p:nth-child(4) {
  font-size: 14px;
  margin-top: 10px;
}

.titleAndDescription p:nth-child(5) {
  font-size: 14px;
}

.titleAndDescription p:nth-child(6) {
  font-size: 14px;
  margin-top: 10px;
}

/* --------- Footer Section ----------- */

.footer_top {
  padding-bottom: 100px;
}

.footer_bottom {
  padding: 30px 50px !important;
  border-top: 1px solid rgb(215, 215, 215);
  background-color: #f8f8f8;
}

.footer_bottom p {
  font-size: 12px;
}

.footer {
  padding: 30px 50px !important;
  margin-top: 100px;
  background-color: #f8f8f8;
}

.footer ul {
  list-style: none;
  padding-left: 0px;
}

.footer .footer_heading {
  font-size: 14px;
  font-weight: bold;
}

.footer ul li {
  list-style: none;
  padding-left: 0px;
  font-size: 12px;
  cursor: pointer;
  margin-top: 8px;
}

.footer ul li:hover {
  text-decoration: underline;
}

.social_icons {
  display: flex;
  margin-top: 28px;
}

.social_icons i {
  font-size: 22px;
}

.margin-left {
  margin-left: 24px;
}

/* --------- Filter Left Section Body ----------- */

.filter_head {
  margin-top: 30px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 0px;
}

/* --------- Bootstrap Accordion Customization CSS ----------- */

.accordion-button:not(.collapsed) {
  /* background-color: aqua !important; */
  color: black !important;
  background-color: white !important;
}

button:focus:not(:focus-visible) {
  outline: none !important;
  border: none;
}

.accordion-button:focus {
  outline: none !important;
  box-shadow: none !important;
  color: black !important;
}

.accordion-button {
  font-weight: bold;
  padding-left: 0px !important;
}

.accordion-button::after {
  background-image: url("https://iconarchive.com/download/i89135/icons8/ios7/User-Interface-Minus.ico") !important;
}

.accordion-button.collapsed::after {
  background-image: url("https://www.freepnglogos.com/uploads/plus-icon/plus-icon-plus-math-icon-download-icons-9.png") !important;
}

.accordion-body {
  padding-left: 7px !important;
  padding-top: 0px !important;
}

/* --------- Bootstrap CheckBox Customization ----------- */

.form-check-input {
  border: 1px solid black;
  border-radius: 1px !important;
  width: 18px !important;
  height: 18px !important;
}

.form-check-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.left_side_filter label {
  font-size: 14px;
  opacity: 0.7;
  text-transform: capitalize;
}
