.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(148, 148, 148);
  padding: 14px 0px;
}

.header_left {
  font-size: 13px;
}

.header_right_conatiner {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0px;
}

.header_right_conatiner li {
  text-decoration: none;
  padding-right: 8px;
  padding-left: 8px;
}

.header_right_conatiner li a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  text-transform: capitalize;
  padding-bottom: 4px;
}

.header_right_conatiner li a:hover {
  border-bottom: 2px solid black;
}

.vertical-line {
  display: inline-block;
  border-left: 1px solid #ccc;
  margin: 0 10px;
  height: 15px;
}

/* headerWithLogo */
.headerWithLogo {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.search_input {
  position: relative;
}

.search_input input {
  padding: 8px 40px;
  border-radius: 100px;
  border:  none;
  outline: none;
  background-color: rgb(238, 238, 238);
  width: 400px;
}

.search_input .search_icon {
  position: absolute;
  top: 3.5px;
  left: 14px;
  font-size: 20px;
}
